.btn {
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: 1px solid;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  transition: box-shadow 300ms ease-in-out, border-color 300ms ease-in-out, color 300ms ease-in-out;

  &:active {
    scale: 0.95;
  }
}

.btn-primary {
  background: var(--color-bg-btn-primary);
  background-color: var(--color-color_1);
  color: var(--color-violet-50);
  border-color: var(--color-color_2);

  &:hover {
    /* border-color: var(--color-color_2); */
    box-shadow: -1px -1px 5px var(--color-color_1), 1px 1px 5px var(--color-color_2);
  }
}

.btn-secondary {
  border-color: var(--color-gray-700);
  box-shadow: 0 0 8px #ffffff10;
  color: var(--color-gray-300);
  
  &:hover {
    box-shadow: 0 0 8px #ffffff40;
    border-color: #ffffff50;
    color: var(--color-gray-100);
  }
}