@import "tailwindcss";
@import "./variables.css";
@import "./buttons.css";

/* fonts */
/* Supports weights 300-900 */
@import "@fontsource-variable/geom/wght.css";

body {
  font-family: var(--font-geom);
  color: var(--color-violet-50);
}

.animate-entry-icon {
  animation: entry-icon 200ms ease-in-out both;
}

@keyframes entry-icon {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}