---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Workflow01 from "@/sections/Workflow_01.astro";
---

<Layout title="Esteban Dev | My Portafolio">
	<main class="space-y-10">
		<Hero />
		<Workflow01 />
	</main>
</Layout>
