---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
---

<Layout title="Esteban Dev | My Portafolio">
	<div
		class="border border-gray-700 rounded-2xl bg-sky-600/10 backdrop-blur-sm"
	>
		<Header />
		<section>hola</section>
	</div>
</Layout>
