---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  listDetails: string[];
  icon: string;
  content_number?: boolean;
  number_paso?: string;
  color?: {
    text: string;
    border: string;
    shadowInset: string;
    shadowOut: string;
  };
}
const {
  title,
  listDetails,
  icon,
  content_number = false,
  number_paso = "",
  color = {
    text: "",
    border: "",
    shadowInset: "#ff00ff",
    shadowOut: "#ff00ff",
  },
} = Astro.props;

const colorShadowInset = color.shadowInset;
const colorShadowOut = color.shadowOut;
---

<article
  class:list={[
    "border border-gray-700 rounded-xl p-4 space-y-2 relative",
    color.border,
  ]}
>
  <header class="flex items-center gap-2">
    <span class:list={["size-10", color.text]}>
      <Icon name={icon} class={"w-full h-full"} />
    </span>
    <h3 class="text-xl">{title}</h3>
  </header>

  <div class="content-card">
    <ul class="text-gray-400">
      {listDetails.map((item) => <li>{item}</li>)}
    </ul>
  </div>
</article>

<style define:vars={{ colorShadowInset, colorShadowOut }}>
  article {
    box-shadow:
      inset 0px 0px 40px var(--colorShadowInset),
      0 0 20px var(--colorShadowOut);
  }
</style>
