<div id="particles-js" class="bg-black fixed inset-0 -z-10"></div>

<script
  is:inline
  src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<script is:inline>
  window.particlesJS.load(
    "particles-js",
    "/particles/particlesjs-config.json",
    function () {
      console.log("particles.js cargado");
    },
  );
</script>
