---
interface Props {
	title: string;
}
const { title } = Astro.props;

import ParticlesBg from "@/components/ParticlesBg.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="icon" href="/favicon.ico" /> -->
		<title>{title}</title>
	</head>
	<body class="p-4">
		<ParticlesBg />
		<slot />
	</body>
</html>
